core_education/core_02/fractol/libglfw3.a
core_education/core_02/fractol/libmlx42.a
core_education/core_02/fractol/mlx_linux
core_education/core_02/push_swap/build/push_swap_visualizer
/Users/johnnymosby/VS_Projects/42-School/core_education/core_02/push_swap/push_swap_visualizer
a.out
/Users/johnnymosby/VS_Projects/42-School/core_education/core_05/cpp_05-cpp_09/cpp_09/ex00/data.csv